<div class="container"  style="text-align: center; width:100% ; align-items: center">
    <br/>
    <h2  style=" color: #d7dfde;">~ Add/Change stations ~</h2>
    <br/>
    <div class="btn-group btn-group-toggle" style="width: 80%" data-toggle="buttons">
      <label for="option1" class="btn btn-primary active"  (click)="setradio('Add')" >
        <input type="radio" name="options" id="option1" autocomplete="off"  > Add
      </label>
      <label for="option2" class="btn btn-primary"  (click)="setradio('Change')" >
        <input type="radio" name="options" id="option2" autocomplete="off" > Change
      </label>
      <label for="option3" class="btn btn-primary"  (click)="setradio('Remove')" >
        <input type="radio" name="options" id="option3" autocomplete="off" > Remove
      </label>
          
    </div>  
    <br/>
    <div class="row" style= "width: 100%">
      <div class="col-xs-6" style="width:35%" >
        <br/>
          <div *ngIf="!isSelected('Remove')">
              <form #stationForm="ngForm" (ngSubmit)="onSubmit(stationForm.value, stationForm)">
              
                <div class="form-group ">
                  <label style="color:#d7dfde; font-size: 20px; padding-right: 8px; " for="Name"><b>Station name:</b></label>
                  <input required type="text" class="form-control" name="Name" placeholder="Station name" value={{name}} ngModel>
                  
                </div>
                <div class="form-group d-flex">
                  <label style="color:#d7dfde; font-size: 20px; padding-right: 8px; " for="Address"><b>Station address :</b> </label><br/>
                  <label style="max-width: 200px; word-wrap: break-word; color:#5bd6cc; font-size: 20px;">{{address}}</label>
                  <!-- <input required type="text" class="form-control" name="Address" placeholder="Station address" value={{address}} ngModel> -->
                 
                </div>
                <div class="form-group d-flex">
                  <label style="color:#d7dfde; font-size: 20px; padding-right: 8px; " for="Longitude"><b>Longitude:</b> </label><br/>
                  <label style="color:#5bd6cc; font-size: 20px;  ">{{coordinates.longitude}}</label>
                  <!-- <input required type="number" class="form-control" name="Longitude" placeholder="Longitude"  value={{coordinates.longitude}} ngModel> -->
                 
                </div>
                <div class="form-group d-flex">
                  <label style="color:#d7dfde; font-size: 20px; padding-right: 8px; " for="Latitude"><b>Latitude: </b></label><br/>
                  <label style="color:#5bd6cc; font-size: 20px;  ">{{coordinates.latitude}}</label>
                  <!-- <input required type="number" class="form-control" name="Latitude" placeholder="Latitude"  value={{coordinates.latitude}} ngModel > -->
                
                </div>
              
              <button type="submit" class="btn btn-primary btn-lg" *ngIf="isSelected('Add')">Add</button>
              <button type="submit" class="btn btn-primary btn-lg" *ngIf="isSelected('Change')">Change</button>
              <!-- <button type="submit" class="button" *ngIf="isSelected('Remove')">Remove</button> -->
              </form>
              </div>
              <br/>
              <br/>
              <button type="button" class="btn btn-primary btn-lg" *ngIf="isSelected('Remove')" (click)=RemoveStation() >Remove</button>
              

    </div>




    <div class="col-xs-6">
      <br/>
      <label *ngIf="isSelected('Add')" style="color: yellow">*Place marker on map where you want station to be!</label>
      <label *ngIf="isSelected('Remove')" style="color: yellow">*Select marker you want to remove!</label>
      <label *ngIf="isSelected('Change')" style="color: yellow">*Move marker you want to change!</label><br/>
<div style="margin-left:10px">
  <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18" (mapClick)="placeMarker1($event)">  
    <agm-marker  *ngFor="let stat of stati" [latitude]="stat.latitude" [longitude]="stat.longitude" [title]="stat.name" [label]="" [iconUrl]="iconPath"
    [markerDraggable]="isSelected('Change')"
      (dragEnd)="markerDragEnd($event,stat.name,stat._id)"
      (markerClick) = "stationClick(stat._id)">
      <agm-info-window [latitude]="stat.latitude" [longitude]="stat.longitude" >

     
        <span style="font-size: 16px;font-family:'Times New Roman'">{{stat.name}}</span>
        <br/>
        
        <span style="font-family:'Times New Roman'; color:gray;">{{stat.address}}</span>
        
      </agm-info-window>
    
    </agm-marker>
  </agm-map>
  </div>
    </div>






</div>
</div>
