<div class="container" style = "align-items: center; text-align: center">
    <br/>
      <h2 style = "color: #d7dfde;  ">~ BusMaps ~</h2>
      <button class="btn  btn-primary" style="float:right; margin: 1% 6%;" (click)="getLocation()">See bus location</button> <br/>
      <br/>
      <br/>
      
    <div class="row" >
     
    <div class="col-xs-6 " style="align-items: left; text-align: left; width: 30%">
       
        <br/>
        <div *ngIf="show">
          <label  style = "color: #d7dfde; ; font-size:18px "><u>Check lines you want to see on the map</u></label>
            <form [formGroup]="myGroup" >
                 <div  class="custom-control custom-checkbox" formArrayName="linesWStations" *ngFor="let genre of myGroup.controls.linesWStations.controls; let i = index">
                  <input class="custom-control-input" id={{i}}  type="checkbox" [formControlName]="i" (change)="FieldsChange($event)" value="{{linesWStations[i].LineNumber}}">
                  <label class="custom-control-label" for={{i}} style = "color: #d7dfde; ; font-size:18px ">{{linesWStations[i].LineNumber}}</label><br/>
                 </div>
                
            </form>
        </div>
        
    </div>
  <div class="col-xs-6" style="align-items: center; width:70%">
  <div style=" float:right; height: 50%; margin: 1% 8%;">
      <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18">  
       <div>
        <agm-marker  *ngFor="let stat of stati" [latitude]="stat.latitude" [longitude]="stat.longitude" [title]="stat.name" [label]="" [iconUrl]="iconPath"></agm-marker>
          
      </div>
      
      <div *ngIf="showLines.length > 0">
      <div *ngFor="let oneLine of showLines, let i = index">
        <div  *ngFor="let dire of oneLine.Stations, let j = index">
            <agm-direction 
            [renderOptions] = "{polylineOptions: {strokeColor: oneLine.ColorLine}, suppressMarkers: true, preserveViewport: true}"
             *ngIf="oneLine.Stations[j+1]"  
            [origin]="{ lat: oneLine.Stations[j].latitude, lng: oneLine.Stations[j].longitude }" 
            [destination]="{ lat: oneLine.Stations[j+1].latitude, lng: oneLine.Stations[j+1].longitude }">
            
              </agm-direction>
        </div>
      
      </div>
    </div>
       
    
      </agm-map>
    </div>
  </div>
  </div>
    </div>
